#!/bin/bash

ALL_STUDENT_EMAILS=list_them_here

ALL_STUDENT_GITHUBS=list_them_here
ALL_STAFF_EMAILS=list_them_here
ALL_STAFF_GITHUBS=list_them_here
HAPPYCOWS_EXTRA_EMAILS=list_them_here


declare -A PROJ_TO_CLIENT_ID
declare -A PROJ_TO_CLIENT_SECRET
declare -A PROJ_TO_UCSB_API_KEY

PROJ_TO_CLIENT_ID[gauchoride]=
PROJ_TO_CLIENT_SECRET[gauchoride]=i
PROJ_TO_UCSB_API_KEY[gauchoride]=

PROJ_TO_CLIENT_ID[happycows]=
PROJ_TO_CLIENT_SECRET[happycows]=
PROJ_TO_UCSB_API_KEY[happycows]=not-needed-for-this-project

PROJ_TO_CLIENT_ID[courses]=
PROJ_TO_CLIENT_SECRET[courses]=
PROJ_TO_UCSB_API_KEY[courses]=

PROJ_TO_CLIENT_ID[organic]=set-for-each-app
PROJ_TO_CLIENT_SECRET[organic]=set-for-each-app
PROJ_TO_UCSB_API_KEY[courses]=not-needed-for-this-project

echo "team emails..."

declare -A TEAM_TO_ADMIN_EMAILS
declare -A TEAM_TO_GITHUB_LOGINS

TEAM_TO_ADMIN_EMAILS[s24-4pm-1]=


TEAM_TO_GITHUB_LOGINS[s24-5pm-1]=


declare -A APP_URL_TO_MONGO_URI

APP_URL_TO_MONGO_URI["https://courses.dokku-00.cs.ucsb.edu"]=

declare -A TEAM_TO_MONGO_URI

TEAM_TO_MONGO_URI[s24-4pm-1]=

declare -A TEAM_TO_UCSB_API_KEY

TEAM_TO_UCSB_API_KEY[s24-4pm-1]=

declare -A APP_URL_TO_GITHUB_CLIENT_ID
declare -A APP_URL_TO_GITHUB_CLIENT_SECRET

APP_URL_TO_GITHUB_CLIENT_ID["organic.dokku-09.cs.ucsb.edu"]=

APP_URL_TO_GITHUB_CLIENT_SECRET["organic.dokku-09.cs.ucsb.edu"]=
